.hello-ionic-page {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}

.scroll-content {
 margin-top: 59px;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
}

.card-register {
	border-radius: 5%;
  	box-shadow: 0 -8px 10px rgba(0,0,0,0.4);
  }


